version: '3'

services:
  my_python_app:
    build: .
    command: >
      bash -c "python api_to_mongo.py && python mongo_to_cassandra.py && python mongo_to_cassandra.py"
    depends_on:
      - cassandra
      - neo4j
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db

  cassandra:
    image: cassandra:latest
    ports:
      - "9042:9042"
    volumes:
      - ./data/cassandra:/var/lib/cassandra

  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./data/neo4j:/data
    environment:
      - NEO4J_AUTH=none
